nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(2, 1, 46);
    box-shadow: 0 0 5px;
    font-family: 'Heebo', sans-serif;
    nav .imagenprincipal {
 
        object-fit: contain;
        position: relative;
        left: 30px;
        top: 9px;
    
        
       }

       .fas{
        display:none;
        color: #000;
    }
    nav ul {
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;
        gap: 40px;
        color: white;
        list-style: none ;
        nav ul li a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: white;
        }
    }
}
