.seccion1 {
    width: 100%;
    height: 100vh;
    box-shadow: 5px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color:rgb(2,0,65);
    .contenido1 { 
        grid-area: 1fr / 2fr / 2fr / 3fr;
        color:white;
        width: 700px;
        height: 150px;
        font-size: 28px;
        position: relative;
        top: 190px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .seccion1__titulo{
            font-weight: 600;
        }
        .contenido1 p {
            position: relative;
            }
        .contenido1 a button {
            width: 130px;
            position: relative;
            height: 40px;
            border-radius: 5px;
            border: none;
            justify-content: center;
            background-color: white;
            font-family: 'Heebo', sans-serif;
            font-size: 17px;
            font-weight: 600;
            text-align: center;
            margin-top: 18px;
            }
    }
        
    .imagenbitcoin{
        grid-area: 1fr / 1fr / 2fr / 2fr;
        width: 500px;
        height: 600px;
        display: flex;
        .bitcoin1 {
            width: 100%;
            height: 100%;
            margin-right: 20px;
            transition: all 0.5s;
        }
    
    }
}





    

