* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
 
body {
    font-family: 'Heebo', sans-serif;
    background-color: rgb(2,0,65);
}
 .imagenprincipal{
     position: relative;
     top: 15px;
     left: 18px;
 }
.menu{
    list-style: none;
    position: relative;
    bottom: 60px;
    padding: 0px;
    padding-bottom: 100px;
    text-align: right;
    width: 90% ;
    max-width: 1000px;
    margin: auto;
    color: white;
}
.menu li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px
}
.menu li {
    display: inline-block;
    text-align: right
}
.seccionprincipal {
    text-align: center;
    position: relative;
    top: 50px;

}
    
.seccion1__titulo {
    font-size: 40px;
    color: white;}

.seccion1__parrafo{
    color: white;
    padding: 0px 0px 20px 0px;
}
.seccion1__boton{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    justify-content: center;
    background-color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
}
.segundaseccion{
     text-align: center;
     border: white ;
     position: relative;
     top: 200px;
}
.seccion2__titulo{
    color: white;
    font-size: 30px;
    padding: 0px 0px 15px 0px ;
}   
.seccion2__parrafo{
    color: white;
    padding: 15px
}
.seccion2__boton{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: none;
    justify-content: center;
    background-color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    font-weight: 600;
    align-items: center;
}
.terceraseccion{
 color: white;
    position: relative;
 top: 500px;
}
.imagentercera{
position: relative;
left: 1050px;
}
.footer{
    color: white;
    position: relative;
    top: 800px;
}
.footerfoto{
    position: relative;
    left: 750px;
    bottom: 15px;
}
.footerderechos{
    position: relative;
    bottom: 50px;
    left: 50px;
}